{% extends "template.html" %}

{% block content %}
<div id="loading-overlay" style="display: none;">
  <div class="spinner"></div>
</div>

  <div id="mly"
     data-image-id="{{ current_round.location.id_image }}"
     data-lat="{{ current_round.location.latitude }}"
     data-lng="{{ current_round.location.longitude }}">
    <!-- Round -->
    <div class="round-box">
  Round {{ current_round.round_number }} of {{ room.rounds|length }}
    </div>

    <!-- Mini Map -->
    <div id="map"></div>

    <!-- Button -->
    <button class="button" id="end-round-btn">Confirm Choice</button>
  </div>

    <script type="module" src="/static/js/room-game.js"></script>
{% endblock %}
